.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media (max-width: 640px) {
  .paper {
    height: 100% !important;
    width: 100% !important;
    margin-top: 0px;
  }
}

.form {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 2%;
  text-align: center;
}
@media (max-width: 640px) {
  .form {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
.login-google-btn{
  width: 100%;
  margin-bottom:15px;
}
